In [3]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [4]:
dataset = pd.read_csv("my_movies.csv")
dataset.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [5]:
#pre-processing 
dataset1=pd.get_dummies(dataset)
dataset1.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

In [6]:
#apriori Algorithm
frequent_itemsets = apriori(dataset1, min_support=0.1,use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Sixth Sense, V3_Harry Potter1, V5_LOTR2, Harr...
1393      0.1  (Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...
1394      0.1  (Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...
1395      0.1  (LOTR2, V3_Harry Potter1, V5_LOTR2, Harry Pott...
1396      0.1  (Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...

[1397 rows x 2 columns]

In [10]:
rules= association_rules(frequent_itemsets,metric="lift",min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Sixth Sense),(Harry Potter1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
...,...,...,...,...,...,...,...,...,...
64247,(Green Mile),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(V1_Sixth Sense),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(LOTR1),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(V2_LOTR1),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64251,(V4_Green Mile),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [11]:
rules.sort_values('lift', ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(Sixth Sense, Harry Potter1, Green Mile, V5_LO...","(LOTR2, V3_Harry Potter1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33437,"(Harry Potter1, V4_Green Mile, V2_LOTR1)","(Sixth Sense, LOTR2, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(Sixth Sense, Harry Potter1, LOTR1)","(V4_Green Mile, LOTR2, V2_LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(Sixth Sense, Harry Potter1, V4_Green Mile)","(LOTR1, LOTR2, V2_LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(Sixth Sense, V2_LOTR1, LOTR1)","(Harry Potter1, LOTR2, V4_Green Mile, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(Sixth Sense, V4_Green Mile, V2_LOTR1)","(Harry Potter1, LOTR2, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(Sixth Sense, V4_Green Mile, LOTR1)","(Harry Potter1, LOTR2, V2_LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(Harry Potter1, LOTR2, V5_LOTR2)","(Sixth Sense, V4_Green Mile, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(LOTR2, V2_LOTR1, V5_LOTR2)","(Sixth Sense, Harry Potter1, V4_Green Mile, LO...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(LOTR1, LOTR2, V5_LOTR2)","(Sixth Sense, Harry Potter1, V4_Green Mile, V2...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33423,"(V4_Green Mile, LOTR2, V5_LOTR2)","(Sixth Sense, Harry Potter1, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33424,"(Harry Potter1, LOTR2, V2_LOTR1)","(Sixth Sense, LOTR1, V4_Green Mile, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33425,"(Harry Potter1, LOTR2, LOTR1)","(Sixth Sense, V4_Green Mile, V2_LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33426,"(Harry Potter1, LOTR2, V4_Green Mile)","(Sixth Sense, LOTR1, V2_LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33427,"(LOTR2, V2_LOTR1, LOTR1)","(Sixth Sense, Harry Potter1, V4_Green Mile, V5...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33428,"(V4_Green Mile, LOTR2, V2_LOTR1)","(Sixth Sense, Harry Potter1, LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33429,"(V4_Green Mile, LOTR2, LOTR1)","(Sixth Sense, Harry Potter1, V2_LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33430,"(Harry Potter1, V2_LOTR1, V5_LOTR2)","(Sixth Sense, LOTR2, V4_Green Mile, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33431,"(Harry Potter1, LOTR1, V5_LOTR2)","(Sixth Sense, LOTR2, V4_Green Mile, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33432,"(Harry Potter1, V4_Green Mile, V5_LOTR2)","(Sixth Sense, LOTR2, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [12]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
6,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(Sixth Sense),(LOTR),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
...,...,...,...,...,...,...,...,...,...
64247,(Green Mile),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64248,(V1_Sixth Sense),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(LOTR1),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(V2_LOTR1),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64251,(V4_Green Mile),"(Sixth Sense, LOTR2, V3_Harry Potter1, V5_LOTR...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80